@tailwind base;
@tailwind components;
@tailwind utilities;

.input__field {
    @apply w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-400 focus:ring-2 focus:outline-none focus:ring-blue-200 sm:text-sm;
}

.input__field--error {
    @apply w-full appearance-none rounded-md border border-pink-300 px-3 py-2 shadow-sm focus:border-pink-400 focus:ring-2 focus:outline-none focus:ring-pink-200 sm:text-sm;
}

.active {
    @apply bg-gray-50 text-indigo-600 rounded shadow-sm
}

.auth__input__field--error {
    @apply rounded-r-md flex-1 appearance-none border border-pink-400 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-pink-600 focus:border-transparent
}

pre {
    @apply my-4 rounded overflow-x-auto;
}

pre code.torchlight {
    @apply block py-4 min-w-max;
}

pre code.torchlight .line {
    @apply px-4;
}

pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}
